<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<<<<<<< HEAD
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <title><%= title%></title>
  </head>
  <body>
    <header><%- include('header.ejs')%></header>
    <p>dlfnbghlkd</p>
    <p>dlfnbghlkd</p>
    <p>dlfnbghlkd</p>
    <p>dlfnbghlkd</p>
    <img
      src="https://img.freepik.com/free-photo/a-cupcake-with-a-strawberry-on-top-and-a-strawberry-on-the-top_1340-35087.jpg "
    />
=======

    <link rel="stylesheet" href="style.css" />
    <!-- <link rel="stylesheet" href="./error.css" /> -->
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="css/bootstrap-5.3.2/dist/css/bootstrap.css" />
    <title><%=title%></title>
  </head>
  <body>
    <header><%- include('header.ejs')%></header>
    <div class="klass">
      <p>CommonJs</p>
      <img src="./images/1660042650157930527.png" alt="" />
    </div>
>>>>>>> e5061f63ad27a311d3079f19635b29dc6164bc5f
    <footer><%- include('footer.ejs')%></footer>
  </body>
</html>
